<ion-header>
  <ion-toolbar>
    <ion-title>Garanti Kontrol</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs #tabs>
<ion-tab-bar slot="buttom">
<ion-tab-button tab="urunler">
  <ion-icon name="list"></ion-icon>
<ion-label>Urunler</ion-label>
</ion-tab-button>
<ion-tab-button tab="urnkyt">
    <ion-icon name="add"></ion-icon>
    <ion-label>Ürün Kayıt</ion-label>
</ion-tab-button>
<ion-tab-button tab="profil">
    <ion-icon name="contact"></ion-icon>
    <ion-label>Profil</ion-label>
</ion-tab-button>
</ion-tab-bar>
</ion-tabs>
